html, body {
    padding: 0;
    margin: 0;
    width:100%;
}

.navbar-right {
    margin-right: 0 !important;
}

.page-content {
    padding: 5px 20px 0 20px;
}

.dash-tiles {
  padding: 0 0 0 10px;
}
.dash-tile {
    min-height: 190px;
    min-width: 250px;
    width: 24%;
    float: left;
    background-color: #e9e9e9;
    margin: 0 5px 20px;
    padding: 0 20px;
    transition: all 2000ms 0ms ease;
}

.dash-tile-header {
    margin: 0 -20px;
    padding: 0 4px 0 7px;
    min-height: 38px;
    line-height: 45px;
    font-weight: 700;
    border-bottom: 2px solid #f9f9f9;
    background-color: #eee;
    opacity: .75;
}
a.editServiceAction {
  padding-right:5px;
  color:grey;
}
a.editServiceAction:hover {
  color:black;
}

.dash-tile-options {
    float: right;
    height: 38px;
    line-height: 41px;
}

.dash-tile-icon {
    float: left;
    padding: 40px 0 0;
    font-size: 48px;
    text-align: left;
    line-height: normal;
    color: white;
}
.dash-tile-text {
    top: 35px;
    position: relative;
    font-size: 35px;
    text-align: right;
    line-height: normal;
    color: white;
    text-align:center;
}
.dash-tile-timestamp {
    float: left;
    padding: 5px 0 0;
    font-size: 14px;
    text-align: left;
    color: white;
}
.dash-tile-status {
    top: 70px;
    position: relative;
    overflow: hidden;
    height: 15px;
}

.dash-tile-ocean {
    background-color: #3991db;
}
.dash-tile-leaf {
    background-color: #c2db39;
}
.dash-tile-green {
    background-color: #5cb85c;
}
.dash-tile-red {
    background-color: #d9534f;
}

.statusPart {
    width:5px;
    height:15px;
    display: inline-block;
    margin: 0;
    padding: 0;
    float:right;
}


.serviceUpDownNumbers {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.serviceUpDownNumbers.up {
    color: green;
}
.serviceUpDownNumbers.down {
    color: red;
}
.serviceUpDownNumbers.ok {
    color: lightgrey;
}
.serviceUpDownNumber {
    font-size: 30px;
}

.group-pills > li > a, .group-pills > li.active > a:hover {
  background-color: #DDDDDD !important;
  color: white;
}
.group-pills > li > a:hover, .group-pills > li.active > a {
  background-color: #AAAAAA !important;
}

.center-pills {
    display: flex;
    justify-content: center;
}

h3.group-name {
  padding: 10px;
  border-bottom: 1px solid #DDDDDD;
}

.table > tbody > tr.status-up > td {
  background-color: #dff0d8;
  border-bottom: 1px solid #2ECC40;
}
.table > tbody > tr.status-down > td {
  background-color: #f2dede;
  border-bottom: 1px solid #FF4136;
}
.table > tbody > tr.status-down-in-last-hour > td {
  background-color: #faf2cc;
  border-bottom: 1px solid yellow;
}
.table > tbody > tr.status-unknown > td {
  background-color: #e9e9e9;
  border-bottom: 1px solid grey;
}
