html, body {
    padding: 0;
    margin: 0;
    width:100%;
}

.navbar-right {
    margin-right: 0 !important;
}

.page-content {
    padding: 5px 20px 0 20px;
}

.dash-tiles {
  padding: 0 0 0 10px;
}
.dash-tile {
    min-height: 190px;
    min-width: 250px;
    width: 24%;
    float: left;
    background-color: #e9e9e9;
    margin: 0 5px 20px;
    padding: 0 20px;
    transition: all 2000ms 0ms ease;
}

.dash-tile-header {
    margin: 0 -20px;
    padding: 0 4px 0 7px;
    min-height: 38px;
    line-height: 45px;
    font-weight: 700;
    border-bottom: 2px solid #f9f9f9;
    background-color: #eee;
    opacity: .75;
}
a.editServiceAction {
  padding-right:5px;
  color:grey;
}
a.editServiceAction:hover {
  color:black;
}

.dash-tile-options {
    float: right;
    height: 38px;
    line-height: 41px;
}

.dash-tile-icon {
    float: left;
    padding: 40px 0 0;
    font-size: 48px;
    text-align: left;
    line-height: normal;
    color: white;
}
.dash-tile-text {
    top: 35px;
    position: relative;
    font-size: 35px;
    text-align: right;
    line-height: normal;
    color: white;
    text-align:center;
}
.dash-tile-timestamp {
    float: left;
    padding: 5px 0 0;
    font-size: 14px;
    text-align: left;
    color: white;
}
.dash-tile-status {
    top: 70px;
    position: relative;
    overflow: hidden;
    height: 15px;
}

.dash-tile-ocean {
    background-color: #3991db;
}
.dash-tile-leaf {
    background-color: #c2db39;
}
.dash-tile-green {
    background-color: #5cb85c;
}
.dash-tile-red {
    background-color: #d9534f;
}

.group-pills > li > a, .group-pills > li.active > a:hover {
  background-color: #DDDDDD !important;
  color: white;
}
.group-pills > li > a:hover, .group-pills > li.active > a {
  background-color: #AAAAAA !important;
}

.center-pills {
    display: flex;
    justify-content: center;
}

h3.group-name {
  padding: 10px;
  border-bottom: 1px solid #DDDDDD;
}

.table > tbody > tr.status-up {
  background-color: #dff0d8;
  border-bottom: 1px solid #2ECC40;
}

.table > tbody > tr.status-up.min-1,
.table > tbody > tr.status-up.min-3,
.table > tbody > tr.status-up.min-5,
.table > tbody > tr.status-up.min-7,
.table > tbody > tr.status-up.min-9 {

  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: upnow !important;
  -webkit-animation-timing-function: ease;
}
.table > tbody > tr.status-up.min-0,
.table > tbody > tr.status-up.min-2,
.table > tbody > tr.status-up.min-4,
.table > tbody > tr.status-up.min-6,
.table > tbody > tr.status-up.min-8 {

  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: upnowt !important;
  -webkit-animation-timing-function: ease;
}

.table > tbody > tr.status-down {
  background-color: #f2dede;
  border-bottom: 1px solid #FF4136;

  -webkit-animation-direction: normal;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: blink !important;
  -webkit-animation-timing-function: ease;
}
.table > tbody > tr.status-down-in-last-hour {
  background-color: #faf2cc;
  border-bottom: 1px solid yellow;
}
.table > tbody > tr.status-unknown {
  background-color: #e9e9e9;
  border-bottom: 1px solid grey;
}

.table > tbody > tr.status-down a.serviceDetailsLink {
  color:inherit;
}
a.serviceDetailsLink {
  color:black;
}

@-webkit-keyframes blink {
  0% { background: #f2dede; color:black;}
  50% { background: #f2dede; color:black;}
  100% { background: rgb(153,0,0); color:white; }
}

@-webkit-keyframes upnow {
  0% { background: #99CB84; color:black;}
  100% { background: #dff0d8; color:black; }
}
@-webkit-keyframes upnowt {
  0% { background: #99CB84; color:black;}
  100% { background: #dff0d8; color:black; }
}

.indexPage {
  display: table;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  text-align: center;
}
.indexPage .content {
  display: table-cell;
  vertical-align: middle;
}
