<template name="edit-ssh-service">
    <form class="form-horizontal">
      {{#with service}}
      <div class="panel panel-primary">
        <div class="panel-heading">Service Info</div>
        <div class="panel-body">
          <div class="form-group">
              <label for="serviceName" class="col-sm-2 control-label">Service name</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="serviceName" placeholder="Google" value={{info.name}}>
              </div>
          </div>
          <div class="form-group">
              <label for="groupName" class="col-sm-2 control-label">Service group</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="groupName" placeholder="" value={{info.group}}>
              </div>
          </div>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">SSH Service</div>
        <div class="panel-body">
          <div class="form-group">
              <label for="host" class="col-sm-2 control-label">IP/hostname</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="host" placeholder="" value="{{spec.host}}">
              </div>
          </div>
          <div class="form-group">
              <label for="port" class="col-sm-2 control-label">Port</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="port" placeholder="22" value="{{spec.port}}">
              </div>
          </div>
          <div class="form-group">
              <label for="cmd" class="col-sm-2 control-label">Command</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="cmd" placeholder="pwd" value="{{spec.cmd}}">
              </div>
          </div>
          <div class="form-group">
              <label for="username" class="col-sm-2 control-label">Username</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="username" placeholder="" value="{{spec.username}}">
              </div>
          </div>
          <div class="form-group">
              <label class="col-sm-2 control-label">Credentials</label>
              <div class="col-sm-10">
                  <div class="form-group">
                      <label for="password" class="col-sm-2 control-label">Password</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="password" placeholder="" value="{{spec.password}}">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="privateKeyPath" class="col-sm-2 control-label">Or Private Key Path</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="privateKeyPath" placeholder="" value="{{spec.privateKeyPath}}">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="privateKey" class="col-sm-2 control-label">Or Private Key</label>
                      <div class="col-sm-10">
                          <textarea rows="10" class="form-control" id="privateKey" placeholder="">{{spec.privateKey}}</textarea>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      {{/with}}
      {{> submitButtons}}
    </form>
</template>
