<template name="edit-http-service">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="serviceName" class="col-sm-2 control-label">Service name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="serviceName" placeholder="Google" value={{service.name}}>
            </div>
        </div>
        <div class="form-group">
            <label for="groupName" class="col-sm-2 control-label">Service group</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="groupName" placeholder="" value={{service.group}}>
            </div>
        </div>
        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">HTTP URL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="url" placeholder="http://www.google.com" value={{service.url}}>
            </div>
        </div>
        <div class="form-group">
            <label for="url" class="col-sm-2 control-label">Checks</label>
            <div class="col-sm-10">
                {{> httpServiceChecks}}
            </div>
        </div>
        {{> submitButtons}}
    </form>
</template>

<template name="httpServiceChecks">
  <div class="form-group">
      <div class="col-sm-12">
        <select id="checkType" class="form-control">
          <option class="placeholder" selected disabled value="">Select a check</option>
          <option value="httpStatusCheck">Status Check - checks the HTTP status code</option>
          <option value="httpRegexCheck">HTML Regex - checks if a regular expression matches againts the HTML</option>
        </select>
      </div>
  </div>
  {{> Template.dynamic template=selectedCheckType}}
</template>

<template name="httpStatusCheck">
  httpStatusCheck
</template>

<template name="httpRegexCheck">
  <div class="form-group">
    <label for="url" class="col-sm-1 control-label">Regex</label>
    <div class="col-sm-11">
        <input type="text" class="form-control" id="regex" placeholder="body" value={{service.regex}}>
    </div>
  </div>
</template>
