<template name="baseLayout">
    <audio id="siren1" src="/sounds/siren-slow-turn-off.mp3" ></audio>
    <audio id="siren2" src="/sounds/dun-dun-dun-sound-effect-brass.mp3" ></audio>

    {{#if isDefaultMode}}
      {{> navbar }}
    {{/if}}
    <div class="page-content">
      {{> yield }}
    </div>

    {{ > tooltips }}
</template>

<template name="navbar">
  <div id="top-nav" class="navbar navbar-default navbar-static-top">
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="{{isActiveRoute 'index'}}"><a href="{{pathFor 'index'}}">Dashboard</a></li>
              <li class="{{isActiveRoute regex='new-.+-service'}} dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span class="caret"></span></a>
                  <ul class="dropdown-menu new-service-menu">
                      <li class="{{isActiveRoute 'edit-http-service'}}"><a href="{{pathFor 'service.http.create'}}">HTTP Service</a></li>
                      <li class="{{isActiveRoute 'edit-ssh-service'}}"><a href="{{pathFor 'service.ssh.create'}}">SSH Service</a></li>
                      <!-- li role="separator" class="divider"></li-->
                  </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
              {{> groupSelector}}
            </li>
            <li class="{{isActiveRoute name='tiles'}}"><a href="{{pathFor 'tiles'}}"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></li>
            <li class="{{isActiveRoute name='tables'}}"><a href="{{pathFor 'tables'}}"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></li>
            <li class="{{isActiveRoute name='grid'}}"><a href="{{pathFor 'grid'}}"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a></li>
            <li class="{{isActiveRoute name='sunburst'}}"><a href="{{pathFor 'sunburst'}}"><img src="/images/sunburst-icon.png" style="width:18px"/></a></li>
          </ul>
      </div>
  </div>
</template>

<template name="groupSelector">
  <ul class="groupSelector dropdown-menu">
    {{#each groups}}
      <li><a class="toggleGroup" href="#"><span class="glyphicon glyphicon-{{glyphicon}}"></span> {{group}}</a></li>
    {{/each}}
  </ul>
</template>
