<template name="tables">
  <div class="gridster">
    {{#each groups}}
    <table data-row="1" data-col="1" data-sizex="1" data-sizey="{{sizey}}" class="table table-hover" style="width:300px;">
      <thead>
        <tr>
          <th colspan="2" style="font-size:150%">{{group}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {{#each services}}
        <tr class="{{statusClass}}">
          <td style="width:50px; text-align:center;">
            <span class="glyphicon glyphicon-{{statusGlyphicon}}" style="color:{{statusGlyphColor}}" aria-hidden="true"></span>
          </td>
          <td>
            <a class="serviceDetailsLink" href="{{pathFor route='service.details' id=_id}}">
              {{info.name}}
            </a>
          </td>
          <td>
            {{#if isDefaultMode}}
            <a style="float:right" href="{{pathFor route=editRoute id=_id}}" class="editServiceAction"><i class="fa fa-edit"></i></a>
            {{/if}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    {{/each}}
  </div>
</template>
