<template name="tiles">
  {{#each groups}}
    <h3 class="group-name">{{group}}</h3>
    {{#each services}}
    <div class="dash-tiles ">
        <div class="dash-tile {{statusClass}} clearfix">
            {{#if isAdmin ../..}}
              <a style="float:right" href="{{pathFor route=editRoute id=_id}}" class="editServiceAction"><i class="fa fa-edit"></i></a>
            {{/if}}
            <div class="dash-tile-text">
                {{info.name}} <br/>
                <div style="font-size:24px; margin-top:10px;">
                  {{#each properties}}
                    {{name}}: {{value}}<br/>
                  {{/each}}
                </div>
            </div>
            <div class="dash-tile-status">

            </div>
        </div>
    </div>
    {{/each}}
    <div style="clear:left;"></div>
  {{/each}}
</template>
